---


export interface Props{
    autor: string
}

const {autor} = Astro.props;
---
<footer>
    <div class="container">
        <p>{autor}</p>
    </div>
</footer>

<style>
    footer {
        background-color: #f2f2f2;
        padding: 20px 0;
        text-align: center;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
    }
</style>