---
export interface Props{
    items : string[];
}

const {items} = Astro.props;

---

<nav class="navbar">
    <ul class="navbar-menu">
        {items.map((item) => (
            <li class="navbar-item"><a class="navbar-link" href={`#${item.toUpperCase()}`}>{item.toUpperCase()}</a></li>
           ))}
    </ul>
</nav>

<style>
    .navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #00ff99;
}

</style>